@font-face {
font-family: 'capture it';
font-style: normal;
font-weight: normal;
src: local('Capture it'), url('Capture_it.woff') format('woff');
}

body {
	/*background-color: black;*/
	background-image: url('jahbackgroundreal1.jpg');
	background-size: 200%;	
}

.topspacer {
	height: 2em;
}

.presm {
	height: 1em;
}

.secondspacer {
	height: 6em;
}

.scrollspace {
	height: 4em;
}

.fb {
	max-width: 3em;
	min-height: 3em;
}

.twitter {
	max-width: 2.48em;
	min-height: 2.48em;
}

.insta {
	max-width: 2.8em;
	max-height: 3em;
	margin-left: .15em;
}

.downarrow:hover {
	background-color: green;
}

.vidplayer {
	margin-left: 1em;
    position: relative;
    padding-bottom: 20%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin-bottom: 4em;
}
 
.vidplayer iframe,
.vidplayer object,
.vidplayer embed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

#maintitle {
	font-size: 400%;
	font-family: 'capture it';
	border-top: -4em;
}

.about {
	background-color: black;
	border-radius: 5px;
	border: 3px dashed green;
	padding: .5em .5em .5em .5em;
}

.navbar {
border-top: 5em;
}

.songpost {
	color:white;
	text-align: center;
}

.post {
	margin-top: 9em;
}

.navigation {
	background-color: black;
	color:white;
	display: inline;
}

.topimage {
	margin-top: 0em;
}

.btn {
	background-color: black;
	border: 1px solid yellow;
	color: green;
	font-family: Courier;
}

.btn:hover {
	background-color: black;
	color:red;
}

.posttitle {
	font-family: Courier;
	color:green;
	margin-top: -2em;
}

.songtitle {
	font-family: Courier;
	color:yellow;
}

.aboutartist {
	font-family: Courier;
	color:green;
	margin-top: -2em;
}

.aboutsong {
	font-family: Courier;
	color:yellow;
}

.spacer {
	height: 2000em;
}
