@font-face {
font-family: 'capture it';
font-style: normal;
font-weight: normal;
src: local('Capture it'), url('Capture_it.woff') format('woff');
}

body {
	/*background-color: black;*/
	background-image: url('jahbackgroundreal.jpg');
	background-size: 200%;	
}

.topspacer {
	height: 3em;
}

.secondspacer {
	height: 10em;
}

.scrollspace {
	height: 4em;
}

.downarrow:hover {
	background-color: green;
}

.vidplayer {
	margin-left: 1em;
    position: relative;
    padding-bottom: 35%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.vidplayer iframe,
.vidplayer object,
.vidplayer embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
}

#maintitle {
	font-size: 400%;
	font-family: 'capture it';
}

.navbar {
border-top: 5em;
}

.songpost {
	color:white;
	text-align: center;
}

.navigation {
	background-color: black;
	color:white;
	display: inline;
}

.topimage {
	margin-top: 4em;
}

.btn {
	background-color: black;
	border: 1px solid yellow;
	color: green;
	font-family: Courier;
}

.btn:hover {
	background-color: black;
	color:red;
}

.posttitle {
	font-family: Courier;
	color:green;
	margin-top: -2em;
}

.songtitle {
	font-family: Courier;
	color:yellow;
}

.aboutartist {
	font-family: Courier;
	color:green;
	margin-top: -4em;
}

.aboutsong {
	font-family: Courier;
	color:yellow;
}

.spacer {
	height: 2000em;
}
