body {
	/*background-color: black;*/
	background-image: url('jahbackgroundreal.jpg');
	background-size: 200%;	
}

#maintitle {
	font-size: 400%;
	font-family: courier;
}

.navbar {
border-top: 5em;
}

.songpost {
	color:white;
	text-align: center;
}

.navigation {
	background-color: black;
	color:white;
	display: inline;
}

.topimage {
	margin-top: 4em;
}

.btn {
	background-color: black;
	border: 1px solid yellow;
	color: green;
	font-family: Courier;
}

.btn:hover {
	background-color: black;
	color:red;
}

.posttitle {
	font-family: Courier;
	color:green;
}

.songtitle {
	font-family: Courier;
	color:yellow;
	font-size: 150%;
}

.artist {
	font-family: Courier;
	color:red;
}

.spacer {
	height: 500em;
}
